{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section col-lg-4 col-md-8">

            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Register</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </br>
                </br>
                <div class="fb-login-button " data-width="" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
                </div>
            </form>

            <div class="border-top pt-3 pb-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
                </small>
            </div>
        </div>

{% endblock content %}
